<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h4>HERE WE'LL DISPLAY PEOPLE !</h4>
    <a href="/add">Add People</a>
    <br>
    <table border="1" cellspacing="10" cellpadding="10">
        <tr>
            <td>ID</td>
            <td>NAME</td>
            {{!-- <td></td> --}}
        </tr>


        {{#each people as |person|}}

        <tr>
            <td>  {{person.id}}  </td>
            <td>  {{person.data}}  </td>
            {{!-- <td>  {{person.city}}  </td> --}}
        </tr>
        
        {{/each}}

    </table>
    
</body>
</html>